<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.market.mapper.ActivityMapper">

    <select id="queryActivityList" resultType="com.jzo2o.market.model.dto.response.ActivityInfoResDTO">
        select act.*, (act.total_num - act.stock_num) as receiveNum, IFNULL(count(cwo.activity_id), 0) as writeOffNum
        from activity act
        left join coupon_write_off cwo on act.id = cwo.activity_id
        <where>
            <if test="status!=null">
                and act.status=#{status}
            </if>
            <if test="type!=null">
                and act.type=#{type}
            </if>
        </where>
        group by act.id
    </select>
    <select id="queryActivityById" resultType="com.jzo2o.market.model.dto.response.ActivityInfoResDTO">
        select act.*, (act.total_num - act.stock_num) as receiveNum, IFNULL(count(cwo.activity_id), 0) as writeOffNum
        from activity act
        left join coupon_write_off cwo on act.id = cwo.activity_id
        where act.id=#{id}
        group by act.id
    </select>

    <select id="listForConsumer" resultType="com.jzo2o.market.model.dto.response.SeizeCouponInfoResDTO"
            parameterType="java.lang.Integer">
        <!--查寻 抢卷中 和 即将开始的优惠卷-->
        select
            act.id, act.name, act.type, act.amount_condition, act.discount_rate, act.discount_amount,
            act.distribute_start_time, act.distribute_end_time, act.status, act.total_num, act.stock_num
        from activity act
        where act.status=#{tabType}
    </select>
</mapper>
